[user]
	name = Tyler Childs
	email = email@tychi.me
[branch]
	autosetuprebase = always
	autosetupmerge = always
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
	autocrlf = false
[push]
    default = simple

[sendemail]
    smtpserver = smtp.fastmail.com
    smtpuser = email@tychi.me
    smtpencryption = tls
    smtpserverport = 465
